

.btm-whole{
  height:10vh;
  width:100vw;
  display: grid;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0vh;
}

.btn-done{
  box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
  color: rgba(255, 255, 255, 0.8);
  background: rgb(145, 92, 182);
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 27px;
  width: fit-content;
  margin: auto;
  cursor: pointer;
}
 
.mapbox-map{
  z-index: 100000;
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top:0;
  cursor: pointer;
} 

.btn-cancel{
  position: absolute;
  top:2vh;
  right: 30px;
  border: 2px solid gray;
  background: rgb(218, 218, 218);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.submitBtn_d{
  width: 4vw;
}

.overlays{
  width: 100vw !important;
  height: 100vh !important;

}



 @media (max-width:800px) {
  .submitBtn_d{
    padding: 1.8vh 15vh;
   
  }
/* 
  .mapbox-map{
    position: absolute;
    left: 0;
    top:12vh;
  } */
} 