.card-whole {
    width: 95%;
    margin: auto;
    background-color: white;
    height: 400px;
    padding-top: 10px;
    box-shadow: 0px 4px 20px 0px #ccc;
    border-radius: 15px;
    color: #333333;
}
.card-whole-back {
    width: 100%;
    margin: auto;
    height: 400px;
    padding-top: 10px;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow:         3px 3px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    border-radius: 10px;
    background:  #2B2B2B;
    
}

.back-card-top{
    position: relative;

}

.quote-block{
    width: 90%;
    height: 40%;
}

.btn-back{
    position: absolute;
    right:25px;
    cursor: pointer;
}

.btn-back svg {
    fill: white;
}

.flip-whole{
    width: 100%;
    height: 100%;
}

.hospital-info{
    width: 90%;
    max-width: 100%;
    margin: auto;
    height: 60%;
    display: grid;
    align-items: center;
    padding-bottom: 10px;
    
}

.hospital-name{
    display: flex;
    padding-top: 1vh;
    max-height: 70px;
word-break: break-all;
}



.rd-more-btn{
    font-weight: 900;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 2vh;
    position: relative;
    bottom:7px;
    cursor: pointer;
}

.rd-more-btn p {
    height: fit-content;
}
.hospital-name-content-lg{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    max-width: 80%;
    margin-left: 15px;
    position: relative;
    font-weight: 600;
    padding-right: 15px;
    font-size:2vh;
    max-height: 40px;
    overflow-wrap: scroll;
    overflow: auto;
    letter-spacing: 2px;
    text-transform: uppercase;
    /* width: 90%; */
    text-align: left;  
}

.hospital-name-verified{
    position: absolute;
    right: 35px;
}


.displayed-text{
    display: flex;
}

.displayed-text text{
    overflow: hidden;
}
.hospital-name-verified:hover{
    cursor: pointer;
}

.hospital-address{
    display: flex;
}
.hospital-ad-content{
    font-size:2.2vh;
    text-align: left;
    margin-left: 15px;
}

.btn-tab{
    display: flex;
    justify-content: space-evenly;
}

.btn-inside{
    background: #FFFFFF;
    border: 1px solid #6F50FF;
    box-shadow: 0px 4px 14px 0px #0000001F;
    /* width: 40%; */
    /* padding-left: 15px;
    padding-right: 15px; */
    color: rgb(0, 0, 0);
    font-size:2vh;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 150px;
    text-align: center;   
    text-decoration: none;
}
a{
    text-decoration: none;
}
.btn-inside:hover{
    cursor: pointer;
}
.bed-info{
    width: 100%;
    display: flex;
    height: 30%;
}

.inside-bed{
    width: 25%;
    background: linear-gradient(180deg, #A693FF 0%, #7D62F8 100%);
    box-shadow: 0px 4px 24px 0px #00000030; 
}

.number-box{
    font-family: 'Jost', sans-serif;
    height: 60%;
    font-size:5vh;
    font-weight: 600;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(45deg, #f3ec78, #af4261);
  background-clip: text;
  -webkit-text-fill-color: transparent; */

  color: white;

}

.heading-box{
    height: 40%;
    color: white;
    font-size:1.6vh;
    text-align: center;
    color:#ffffff;
}

.last-updated{
    background: #333333;
    color: white;
    height: 10%;
    font-size: 1.6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;

}



.quote-block{
    background: linear-gradient(45deg, #f3ec78, #af4261);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 80%;
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 4px;

}

.inside-qt{
    padding-bottom:40px;
    padding-top:40px;
    border: 3px solid;
	border-image-slice: 1;
	border-image-source:linear-gradient(180deg ,rgb(0,176,227,1) 48%,rgb(180,160,255,1) 100%);
    border-left-style: none;
    border-right-style: none; 
    width: 85%;
    text-align: center;
}

.qt-top svg{
    fill:  #7E62FE;
}

.qt-bottom svg{
    fill:  #7E62FE
}

.qt-top{
    position: absolute;
    left: 10%;
}
.qt-bottom{
    position: absolute;
    right: 10%;
    transform: rotate(180deg);
}

.rd-whole{
    display: flex;
}
.rd-distance{
    position: relative;
    left: 10px;
}

@media(max-width:450px){
    .card-whole{
        height: 400px;
    }

    .btn-inside{
        width: 100%;
        font-size: 12px;
    }

    

    .hospital-name-content{
        max-width: 50%;
        font-size: 3vh;
        max-height: 4vh;
        padding-bottom: 5px;
    }

    .hospital-name-content-lg{
        max-width: 75%;
    }
    .card-whole-back{
        height: 400px;
    }
    .bed-info{
        height:25%;
    }
    .hospital-info{
        height:65%;
    }
}