
.card-start{
    /* padding-left: 45px; */
    /* padding-right: 45px; */
    padding-top: 30px;
    padding-bottom: 30px;
    
}

.cards{
    /* height: 57vh; */
    padding: 15px;
}

.card-inside{
    /* height: 90%; */
    display: block;
    margin: auto;
    width: 320px;
    background: #FFFFFF;
    box-shadow: 0px 4px 21px rgba(0, 0, 0, 0.13);
    padding-bottom: 30px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
}

.card-name{
    color: #6F50FF;
    font-size: 25px;
    font-weight: 600;
}

.card-add{
    justify-content: center;
    color: #565656;
    border: 1px solid #CDCDCD;
    border-top-style: none;
    border-right-style: none;
    border-left-style:none;
    padding-left: 15px;
    padding-right: 15px;
    margin:auto;
}

.card-avail{
    border-radius: 15px;
    padding-top: 5px;
    background: #6F50FF;
    width: fit-content;
    margin: auto;
    padding-left: 45px;
    padding-right: 45px;
    font-size: 24px;
    padding-bottom: 10px;
}

.avail{
    color: #FFFFFF;

}

.av{
    margin-top: 20px;
    margin-bottom: 15px;
}

.rate{
    font-size: 19px;
    margin-top: 15px;
    color: #343434;
    font-weight: 600;
    margin-bottom: 15px;
    padding-bottom: 5px;
    border: 1px solid #CDCDCD;
    border-top-style: none;
    border-right-style: none;
    border-left-style:none;

}

.phone-svg{
    margin-right: 15px;
    width: 25px;
    height: 25px;
    background: #6F50FF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-sizing: border-box;
}

.phone{
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
    border: 1px solid #CDCDCD;
    border-top-style: none;
    border-right-style: none;
    border-left-style:none;
}

.service{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.service-quote{
    margin-right: 15px;
    color: #888888;

}

.report-btn{
    background: #ff2d3b;
    color: white;
    margin: 0;
    font-family: 'Montserrat';
    border-width: 0;
    border-radius: 5px;
    /* width: 100%; */
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
    

}

@media(max-width:960px){
    
}

@media(max-width:840px){

    .avail{
        font-size: 20px;
    }
}
@media(max-width:417px){

    .card-name{
        font-size: 25px;
    }

    .card-start{
        padding-left: 20px;
        padding-right: 20px;
    }

    .card-avail{
        border-radius: 10px;
        padding-top: 5px;
        font-size: 20px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 10px;
    }

    .phone{
        font-size: 12px;
    }
}

@media(max-width:335px){

    .card-name{
        font-size: 25px;
    }

    .card-start{
        padding-left: 20px;
        padding-right: 20px;
    }

    .card-avail{
        border-radius: 10px;
        padding-top: 5px;
        font-size: 20px;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 10px;
    }

    .phone{
        font-size: 12px;
    }

    .service{
        font-size: 12px;
    }

    .report-btn{
        padding-top: 1px;
        padding-bottom: 1px;
    }
}