@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');

.supply_top_whole{
    /* display: flex; */
    /* height: 0vh; */
    width: 100vw;
    background: #6F50FF;
    justify-content: space-between;
    align-items: center;
    /* padding-left: 20px;
    padding-right: 20px; */
    /* overflow: hidden; */
}

.supply_name{
color: white;
font-weight: 400;
font-size: 40px;
letter-spacing: 3px;
}

.supply_title{
    color: white;
    font-size: 29px;
    letter-spacing: 2px;
}

.lgt_btn{
    background:white;
    color: black;
    width: fit-content;
    /* padding-left: 10px;
    padding-right: 10px; */
    padding-top: 2px;
    padding-bottom: 2px;
}
