@import url(//db.onlinewebfonts.com/c/7e96eba370659b4e4563309dc4ebb33f?family=Samarkan);
@font-face {font-family: "Samarkan"; src: url("//db.onlinewebfonts.com/t/7e96eba370659b4e4563309dc4ebb33f.eot"); src: url("//db.onlinewebfonts.com/t/7e96eba370659b4e4563309dc4ebb33f.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/7e96eba370659b4e4563309dc4ebb33f.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/7e96eba370659b4e4563309dc4ebb33f.woff") format("woff"), url("//db.onlinewebfonts.com/t/7e96eba370659b4e4563309dc4ebb33f.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/7e96eba370659b4e4563309dc4ebb33f.svg#Samarkan") format("svg"); }
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
.homepage{
    background: linear-gradient(180deg, #8F79F5 0%, #4A2EC7 100%);
    background-attachment: fixed;
  }

  .iittp-logo{
    width: 100px;
    height: 50px;
    float: left;
    position: absolute;
    left: 65px;
  }
  .risha-logo{
    width: 150px;
    height: 50px;
    float: left;
    position: absolute;
    left: 180px;
  }

  .logo-class{
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    bottom: 3px;
  }

  .submitBtn_d{
    cursor: pointer;
  }

.Toastify_toast-body{
  color: #4A2EC7;
} 

#drawer.show{
  width: 100vw;
}

  .logo-covinet{
    letter-spacing: 3px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    margin-left: 360px;
   
  }

  @media(max-width:1480px){
    .logo-covinet{
      margin-left: 400px;
      font-size: 25px;
    }
  }

  
  @media(max-width:1298px){
    .logo-covinet{
      margin-left: 430px;
      font-size: 25px;
    }
  }

  
@media(max-width:1200px){

  .logo-class{
    position: relative;
    top:3px;
  }
  .logo-covinet{
  display: none;
  }
}

